name: CI

on:
  pull_request:
    branches: [main, develop]

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: test_poly
          POSTGRES_PASSWORD: passwd
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: Gr1N/setup-poetry@v8
      - uses: actions/cache@v2
        with:
          path: ~/.cache/pypoetry/virtualenvs
          key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}
      - name: Install dependencies
        run: |
          poetry install
      - name: Check services
        run: |
          docker ps -a
      - name: Test with pytest
        run: |
          poetry run pytest
        env:
          DB_HOST: postgres
          DB_NAME: test_poly
          DB_USERNAME: postgres
          DB_PASSWORD: passwd
          PYTHONPATH: src
      - name: Upload coverage reports
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV }}
